<h1>My-HR</h1>
<%= link_to 'About us', about_path, target: '_blank', style: 'color: orange;' %>
<%= link_to 'Contact us', contact_path, target: '_blank', style: 'color: orange;' %>
<%= link_to 'Privacy policy', privacy_policy_path, target: '_blank', style: 'color: orange;' %>
<%= link_to 'Terms and conditions', terms_and_conditions_path, target: '_blank', style: 'color: orange;' %>
